
@import '../common.css';
@import '../forms.css';

:host {
	display: block;
}
.container {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
}
.name {
	flex: 1;
	padding: 8px;
	font-size: 12px;
	font-weight: 600;
	height: 30px;
	border-radius: 4px 0 0 4px;
	border: 1px solid var(--color-borders);
	background-color: var(--color-borders-darker);
	color: var(--color-orange);
}
.container button {
	border-radius: 0 16px 16px 0;
}
