
@import '../common.css';
@import '../forms.css';

:host {
	--fill-color: repeating-linear-gradient( -45deg, #ffffff, #ffffff 8px, #eeeeee 8px, #eeeeee 16px );

	width: 100%;
	height: 100%;

	& .dropzone {
		height: 100%;

		& > * {
			display: none;
			pointer-events: none;
		}
		& img,
		& canvas {
			max-width: 100%;
            max-height: 100%;
			background: var(--fill-color);
		}

		&[data-state="none"] span,
		&[data-state="svg"] img,
		&[data-state="image"] canvas {
			display: flex;
		}
		&[data-over="true"] {
			& span {
				display: flex;
			}
			& image,
			& canvas {
				display: none;
			}
		}
		&[data-over="null"] {
			&[data-state="svg"],
			&[data-state="image"] {
				background: var(--fill-color);
			}
		}
	}
}
