
@import '../common.css';

:host {
	display: block;
	min-width: 300px;
	max-width: 480px;
	text-shadow: none;

	& .container {
		display: flex;
	    color: #000000;
	    width: 100%;
	    border-radius: 4px;
	    box-shadow: 0 2px 8px 0 #00000066;
	    font-size: 14px;
	    line-height: 1;

		& .icon {
			width: 32px;
		    height: 32px;
		    background-color: #FFFFFF;
		    border-radius: 16px;
		    margin: 4px;
			clip-path: circle(50% at 50% 50%);
			overflow: hidden;

			& svg {
				width: 64px;
			    height: 64px;
			}
		}

		& .message {
			flex: 1;
			display: flex;
		    flex-direction: column;
		    justify-content: center;
		    background-color: #FFFFFF;
		    padding: 4px;
		    border-radius: 0 4px 4px 0;

			& .title {
				font-size: 16px;
				font-weight: 700;
			    border-radius: 0 2px 0 0;
				margin-bottom: 2px;
			}

			& .text {
				padding-right: 8px;

				& code {
					display: block;
					font-size: 12px;
					background-color: #ffdddddd;
					padding: 4px 6px;
					margin: 2px 0;
					border-radius: 4px;
					color: #990000;
				}
			}

			& .buttons {
				display: flex;
			    justify-content: end;

				& button {
					margin: 12px 6px 6px 0;
				    border: 0;
				    border-radius: 12px;
				    font-size: 14px;
				    font-weight: bold;
				    text-transform: uppercase;
				    padding: 2px 16px;
					background-color: #dddddd;
				    color: #000000;
					transition-property: color, background-color;
					transition-duration: .3s;
					transition-timing-function: ease-out;

					&:hover {
						cursor: pointer;
						background-color: #000000;
					    color: #FFFFFF;
					}
				}
			}
		}
		& progress {
			appearance: none;
		    width: 100%;
		    height: 2px;
			display: none;
			&[value]::-webkit-progress-bar {
				background-color: #DDDDDD;
			}
		}
		&.timed progress {
			display: block;
		}
		&.reject {
			background-color: var(--color-reject);
			& .icon svg {
				fill: var(--color-reject);
			}
			& progress[value]::-webkit-progress-value {
				background-color: var(--color-reject);
			}
		}
		&.accept {
			background-color: var(--color-accept);
			& .icon svg {
				fill: var(--color-accept);
				margin-left: -32px;
			}
			& progress[value]::-webkit-progress-value {
				background-color: var(--color-accept);
			}
		}
		&.danger {
			background-color: var(--color-danger);
			& .icon svg {
				fill: var(--color-danger);
				margin-top: -32px;
			}
			& progress[value]::-webkit-progress-value {
				background-color: var(--color-danger);
			}
		}
		&.inform {
			background-color: var(--color-inform);
			& .icon svg {
				fill: var(--color-inform);
				margin-left: -32px;
			    margin-top: -32px;
			}
			& progress[value]::-webkit-progress-value {
				background-color: var(--color-inform);
			}
		}
	}
}
