
@import '../common.css';
@import '../forms.css';

:host {
	display: block;

	& .container {
		display: flex;
		align-items: end;

		& input {
			flex: 1;
			font-size: 10px;
			border-radius: 4px 0 0 4px;
			border: 1px solid var(--color-borders);
			background-color: var(--color-log-background);
		    color: var(--color-idle-1);
		}
		& button {
			border-radius: 0 16px 16px 0;
		}
	}
}
