
@import '../common.css';
@import '../forms.css';

:host {
	display: block;
}
.container {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
}
.container label {
	width: 100%;
}
.container input {
	flex: 1;
	font-size: 10px;
	border-radius: 4px 0 0 4px;
	border: 1px solid var(--color-borders);
	background-color: var(--color-log-background);
    color: var(--color-idle-1);
}
.container button {
	border-radius: 0 16px 16px 0;
}
