
@import '../common.css';
@import '../forms.css';

:host {
	& .container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto 1fr;
		grid-column-gap: 16px;
		grid-row-gap: 8px;
		height: 100%;

		& slot {
			grid-area: 1 / 1 / 2 / 2;
			display: flex;
            align-items: end;
		}
		& .add {
			grid-area: 1 / 2 / 2 / 3;
			display: flex;
            align-items: center;
            justify-content: end;
		}
		& .shortcuts {
			grid-area: 2 / 1 / 3 / 3;
			border: 1px solid var(--color-borders);
            border-radius: 4px;
            background-color: var(--color-background-2);
            padding: 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow: auto;
		}
	}
}
