
@import '../common.css';
@import '../forms.css';

:host {
	display: block;

	& textarea {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		padding: 8px;
		font-family: monospace;
		font-size: 12px;
		background-color: var(--color-notes-background);
		color: var(--color-blue);
	    border: 1px solid var(--color-borders);
	    border-radius: 4px;
		resize: none;
		outline: none;
		tab-size: 4;

		&.lined {
			width: 100%;
			height: 100%;
			padding: 0 8px;
		}

		&::selection {
			background-color: var(--color-blue);
			color: var(--color-notes-background);
		}
	}
}
