
@import 'common.css';
@import 'forms.css';
@import 'output.css';
@import 'pages.css';
@import 'sitemap/sitemap.css';
@import 'cloudflare/d1_editor.css';
/*@import 'cloudflare/r2_editor.css';*/

html {
	position: absolute;
	width: 100%;
	height: 100%;

	& body {
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 4px 40px 40px 1fr 4px;
		grid-row-gap: 4px;

		font-family: 'Asap', sans-serif;
		font-optical-sizing: auto;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;

		color: var(--color-white);
		background: var(--gradient-background);

		hr.stripes {

			border: 0;
			margin: 0;
			background: var(--gradient-stripe);

			&.top {
				grid-area: 1 / 1 / 2 / 2;
			}
			&.bottom {
				grid-area: 5 / 1 / 6 / 2;
			}
		}

		h2 {
			font-family: 'Lilita One', sans-serif;
			font-weight: 400;
			text-transform: uppercase;
			margin: 0;
		}
		h3 {
			font-family: 'Asap';
		    font-weight: 600;
		    font-size: 16px;
		    text-transform: none;
		    color: var(--color-orange);
			margin: 0;
		}

		a {
			color: var(--color-orange);
			&.active {
				color: var(--color-highligh);
			}
		}

		& header {
			grid-area: 2 / 1 / 3 / 2;
			display: grid;
			grid-template-columns: 320px 1fr 320px;

			& .about {
				display: grid;
				align-items: center;
				padding: 0 16px;
				font-weight: 700;
			}
			& .logo {
				display: grid;
                grid-template-columns: 32px auto;
				gap: 4px;
                justify-content: center;
                align-items: center;

				& img {
					width: 32px;
					height: 32px;
				}
				& h1 {
					margin: 0;
				}
			}
			& label {
				justify-content: end;
				padding: 0 16px;
			}
		}
		& nav {
			grid-area: 3 / 1 / 4 / 2;
			display: flex;
			justify-content: space-evenly;
			background-color: var(--color-borders);

			& a {
				flex: 1;
                position: relative;
                display: grid;
                justify-content: center;
                align-items: center;
				font-family: 'Lilita One', sans-serif;
				font-size: 22px;
				font-weight: 400;
				text-decoration: none;
				color: var(--color-white);
				transform: skewX(-35deg);
				transition: background-color .3s;

				& span {
					transform: skewX(35deg);
				}
				&:nth-child(even) {
					background-color: var(--color-borders-light);
				}
				&:hover {
					background-color: var(--color-highligh);
				}
			}
		}
		& > section {
			grid-area: 4 / 1 / 5 / 2;
			display: grid;
			grid-template-columns: 1fr 320px;
			grid-template-rows: 1fr;
			gap: 16px;
			overflow: hidden;

			& main {
				grid-area: 1 / 1 / 2 / 2;
				display: grid;
				grid-template-rows: auto 1fr;
				row-gap: 8px;
				padding: 16px 0 16px 16px;
				overflow: hidden;

				& article {
					display: none;
					border: 1px solid var(--color-borders);
					border-radius: 4px;
					overflow: auto;
					background-color: var(--color-background-2);
				}
			}
			& aside {
				grid-area: 1 / 2 / 2 / 3;
				overflow: hidden;
			}
		}
	}
}





/*header { grid-area: 1 / 1 / 2 / 4; }
nav { grid-area: 2 / 1 / 3 / 4; }
main { grid-area: 3 / 1 / 4 / 3; }
aside { grid-area: 3 / 3 / 4 / 4; }

header {
	display: flex;
	justify-content: center;
	column-gap: 32px;
	padding: 0 16px;
}
header .about {
	display: flex;
	align-items: center;
	font-weight: 700;
    font-size: 14px;
}
header .logo {
	flex: 1;
	display: flex;
    justify-content: center;
	align-items: center;
	padding-top: 8px;
}
header .logo img {
	width: 32px;
	height: 32px;
	margin-right: 8px;
	margin-bottom: 12px;
}
header label {
	padding-top: 4px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	overflow: hidden;
	background-color: var(--color-borders);
}
main {
	display: flex;
	overflow: auto;
}
main article {
	flex: 1;
	padding: 16px 0 16px 16px;
	display: none;
	flex-direction: column;
    row-gap: 8px;
	overflow: auto;
}
aside {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	padding: 16px;
	overflow: hidden;
}

/* ///////////////////////////////////////////////////////////////////////// */

/*nav > div {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
}
nav > div .color {
	width: 100%;
    height: 100%;
    transform: skewX(-35deg);
	transition: background-color .3s;
}
nav > div button {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	font-family: 'Lilita One', sans-serif;
	font-size: 22px;
	font-weight: 400;
}
nav > div button:hover {
	background-color: transparent;
	box-shadow: none;
}
nav > div:nth-child(even) .color {
	background-color: var(--color-borders-light);
}
nav > div:nth-child(odd) .color {
	background-color: var(--color-borders);
}
nav > div:hover .color {
	background-color: var(--color-highligh);
}

/* ///////////////////////////////////////////////////////////////////////// */

/*h1,h2 {
	font-family: 'Lilita One', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: var(--color-white);
	margin: 0;
}
h1 {
	margin-bottom: 6px;
}
h3 {
	font-family: 'Asap';
    font-weight: 600;
    font-size: 16px;
    text-transform: none;
    color: var(--color-orange);
	margin: 0;
}
a {
	color: var(--color-orange);
}
a.active {
	color: var(--color-highligh);
}
hr.stripes {
	position: absolute;
	width: 100%;
	border: 0;
    height: 4px;
    margin: 0;
	background: var(--gradient-stripe);
}
hr.top {
	top: 0;
}
hr.bottom {
	bottom: 0;
}

/* ///////////////////////////////////////////////////////////////////////// */

dialog[open] {
	display: flex;
}

dialog.overlay {
	position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: transparent;

	& .backdrop {
		background-color: #110011;
	    opacity: 0.9;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	}
	& .container {
		position: absolute;
	    display: flex;
	    color: var(--color-white);
	    flex-direction: column;
		max-height: 100%;
		min-width: 320px;
	    max-width: 960px;
		padding: 64px 0;

		& .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			border-width: 1px 1px 0 1px;
			border-style: solid;
			border-radius: 8px 8px 0 0;
			border-color: var(--color-borders);
			padding: 8px 8px 8px 16px;
			background-color: var(--color-borders-dark);
		}
		& .content {
			overflow: auto;
		    flex: 1;
		    padding: 16px;
		    background-color: var(--color-background-2);
		    border: 1px solid var(--color-borders);
		    border-radius: 0 0 8px 8px;
		    display: flex;
		    flex-direction: column;
		    row-gap: 16px;
		}
	}
}

dialog.messages {
	z-index: 100;
	min-width: 320px;
	border: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	background-color: transparent;
	outline: none;
}

body[data-state="blocked"] dialog.overlay .container {
	width: auto;
	height: auto;
}
body[data-state="blocked"] dialog.overlay .container .content {
	border-radius: 8px;
}

/* ///////////////////////////////////////////////////////////////////////// */

body[data-page="project"] main > article.project,
body[data-page="sitemap"] main > article.sitemap,
body[data-page="manifest"] main > article.manifest,
body[data-page="cloudflare"][data-editor="false"] main > article.cloudflare,
body[data-page="cloudflare"][data-editor="true"] main > article.editor {
	display: block;
}

body[data-page="project"] nav > a.project,
body[data-page="sitemap"] nav > a.sitemap,
body[data-page="manifest"] nav > a.manifest,
body[data-page="cloudflare"] nav > a.cloudflare {
	background-color: var(--color-highligh);
}

body[data-state="blocked"] .overlay .header {
	display: none;
}
body[data-state="blocked"] .overlay .content {
	text-align: center;
}

/* AWESOME ///////////////////////////////////////////////////////////////// */

body[data-awesome="true"],
body[data-awesome="true"] aside .log,
body[data-awesome="true"] input,
body[data-awesome="true"] textarea,
body[data-awesome="true"] ::part(input),
body[data-awesome="true"] ::part(textarea) {
	text-shadow: 0px 1px 8px;
}
body[data-awesome="true"] nav > div button {
	text-shadow: 0px 2px 16px;
}
body[data-awesome="true"] button,
body[data-awesome="true"] ::part(button) {
	text-shadow: 0px 0px 12px;
}
