
/* PROJECT ///////////////////////////////////////////////////////////////// */

article.project .page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding: 16px;
	width: 100%;
	max-width: 1024px;
	column-gap: 16px;

	& .left {
		display: grid;
		grid-template-rows: auto 1fr;

		& .details {
			display: flex;
			column-gap: 8px;
			align-items: center;
			background-color: var(--color-orange);
			color: #000000;
			text-shadow: none;
			padding: 4px;
			border-radius: 24px;
			height: 40px;
			margin-bottom: 16px;

			& .icon {
				width: 32px;
				height: 32px;
				background: url('../graphics/logos.svg');
				background-size: 128px;
				border-radius: 16px;
				background-color: #FFFFFF;
			}
			& .git {
				background-position: -168px -24px;
				border: 4px solid #FFFFFF;
				background-size: 96px;
			}
			& .about {
				flex: 1;

				& .title {
					font-size: 20px;
					font-weight: bold;
				}
				& .description {
					font-size: 12px;
				}
			}
		}

		& form {
			display: grid;
			grid-template-rows: 1fr auto;

			& fieldset {
				height: 100%;

				& label {
					display: grid;
					grid-template-rows: auto 1fr;

					& tab-textarea {
						height: 100%;
					}
				}
			}
		}
	}
}

/* MANIFEST ///////////////////////////////////////////////////////////////// */

article.manifest {
	overflow: hidden;

	& .page {
		display: grid;
		grid-template-rows: 40px 1fr;
		height: 100%;
		overflow: hidden;

		& .header {
			display: flex;
            justify-content: center;
			align-items: center;
            gap: 32px;
			border-bottom: 1px solid var(--color-borders);
			background-color: var(--color-borders-dark);
		}

		& .content {
			padding: 16px;
			overflow: auto;

			& form {
				display: grid;
		        align-items: start;
		        gap: 16px;
				max-width: 800px;
				margin: auto;

				& fieldset {
					display: none;
				}
			}
		}

		&[data-state="information"] fieldset.information,
		&[data-state="appearance"] fieldset.appearance,
		&[data-state="urls"] fieldset.urls,
		&[data-state="shortcuts"] fieldset.shortcuts,
		&[data-state="icons"] fieldset.icons,
		&[data-state="screenshots"] fieldset.screenshots {
			display: grid;
		}
	}
}

/* POLICY ////////////////////////////////////////////////////////////////// */

.overlay .nonce {
	flex: 1;
}
.overlay .policy_items {
	display: grid;
	grid-template-columns: auto auto;
	gap: 8px 8px;
}

/* CLOUDFLARE ////////////////////////////////////////////////////////////// */

article.cloudflare {
	overflow: hidden;

	& .page {
		display: grid;
		grid-template-rows: 40px 1fr;
		height: 100%;
		overflow: hidden;

		& .header {
			display: flex;
            justify-content: center;
			align-items: center;
            gap: 32px;
			border-bottom: 1px solid var(--color-borders);
			background-color: var(--color-borders-dark);
		}
		& .content {
			display: grid;
			align-content: start;
            gap: 16px;
			padding: 16px;
			overflow: auto;
		}
	}
}
