
/* PROJECT ///////////////////////////////////////////////////////////////// */

article.project .page {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: auto;
	padding: 16px;
	width: 100%;
	height: 100%;
	max-width: 1024px;
	column-gap: 16px;

	& > div {
		display: flex;
		flex-direction: column;
		gap: 16px;

		& .settings {
			justify-content: center;
			gap: 16px;
		}
	}

	& .left {
		& .details {
			display: flex;
			column-gap: 8px;
			align-items: center;
			background-color: var(--color-orange);
			color: #000000;
			text-shadow: none;
			padding: 4px;
			border-radius: 24px;
			height: 40px;
			margin-bottom: 16px;

			& .icon {
				width: 32px;
				height: 32px;
				background: url('../graphics/logos.svg');
				background-size: 128px;
				border-radius: 16px;
				background-color: #FFFFFF;
			}
			& .git {
				background-position: -168px -24px;
				border: 4px solid #FFFFFF;
				background-size: 96px;
			}
			& .about {
				flex: 1;

				& .title {
					font-size: 20px;
					font-weight: bold;
				}
				& .description {
					font-size: 12px;
				}
			}
		}
		& form {
			flex: 1;

			& fieldset.notes {
				flex: 1;

				& label {
					flex-direction: column;
					align-items: flex-start;

					& tab-textarea {
						flex: 1;
					}
				}
			}
		}
	}
	& .right {

	}
}

/* MANIFEST ///////////////////////////////////////////////////////////////// */

article.manifest {
	overflow: hidden;

	& .page {
		display: grid;
		grid-template-columns: auto 1fr;
		height: 100%;

		& .header {
			display: flex;
			flex-direction: column;
			padding: 24px 16px;
            gap: 32px;
			border-right: 1px solid var(--color-borders);
			background-color: var(--color-borders-dark);
		}

		& .content {
			padding: 16px;
			overflow: auto;

			& form {
				display: none;
				width: 640px;
				margin: 0 auto;

				&.icons fieldset {
					& .icon {
						background-color: var(--color-borders-lighter);
						padding: 8px;
						border-radius: 4px;
					}
					& image-upload {
						width: 512px;
						height: 512px;
						border-radius: 22.5%;
						overflow: hidden;
						transition: border-radius 1s linear;
						margin: auto;

						&[data-round="true"] {
							border-radius: 100%;
						}
					}
				}
				&.screenshots fieldset,
				&.shortcuts fieldset {
					display: flex;
					flex-direction: column;
					flex: 1;
					overflow: hidden;
					padding: 16px 8px 8px 8px;

					& screenshot-gallery,
					& shortcut-list {
						flex: 1;
						overflow: hidden;
					}
				}
				&.shortcuts {
					height: 100%;
				}
			}
		}

		&[data-state="information"] form.information,
		&[data-state="appearance"] form.appearance,
		&[data-state="urls"] form.urls,
		&[data-state="protocols"] form.protocols,
		&[data-state="shortcuts"] form.shortcuts,
		&[data-state="icons"] form.icons,
		&[data-state="screenshots"] form.screenshots {
			display: flex;
		}
	}
}

/* OVERLAY ///////////////////////////////////////////////////////////////// */

dialog.overlay {
	&[data-page="policy"] {
		& .container {
			width: 800px;
		}
		& .nonce {
			flex: 1;
		}
		& .policy_items {
			display: grid;
			grid-template-columns: 50% 50%;
			gap: 8px 8px;
			padding-right: 8px;
		}
	}
	&[data-page="environments_edit"] {
		&.add {
			.remove {
				display: none;
			}
		}
	}
	&[data-page="bindings"] {
		& fieldset {
			gap: 12px;
			& > div {
				border-bottom: 1px dashed var(--color-borders);
	            padding-bottom: 12px;
				&:last-of-type {
					border-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
	&[data-page="bindings_add"] {
		.bindings {
			display: flex;
		    flex-direction: column;
		    align-items: center;
		    gap: 16px;
		}
	}
	&[data-page="vars"] {
		& tab-textarea {
			width: 640px;
			height: 480px;
		}
	}
	&.bindings {
		&.add {
			& .remove,
			& .save {
				display: none;
			}
		}
		&.edit {
			& .add {
				display: none;
			}
		}
	}
}

/* CLOUDFLARE ////////////////////////////////////////////////////////////// */

article.cloudflare {
	overflow: hidden;

	& .page {
		display: grid;
		grid-template-columns: auto 1fr;
		height: 100%;

		& .header {
			display: flex;
			flex-direction: column;
			padding: 24px 16px;
			border-right: 1px solid var(--color-borders);
			background-color: var(--color-borders-dark);

			& .menu {
				flex: 1;
				display: flex;
				flex-direction: column;
	            gap: 32px;
			}
		}
		& .content {
			overflow: auto;

			& .container {
				padding: 16px;
				width: 640px;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				gap: 16px;
			}
		}
	}
}
