
@import 'nodes.css';

:host {
	position: absolute;
	left: 100%;
}

.container {
	flex-direction: row;
	padding: 4px 8px 4px 4px;
    border: 1px dashed var(--color-borders);
    border-radius: 4px;
	background: var(--gradient-background);
}
.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 8px;
	white-space: nowrap;
}
.text .title {
	font-size: 18px;
	font-weight: bold;
	color: var(--color-orange);
}
.text .details {
	font-size: 12px;
}
