
article.sitemap {
	overflow: hidden;

	& > .page {
		display: grid;
		grid-template-columns: 320px 1fr;
		overflow: hidden;
		height: 100%;

		& .left {
			display: grid;
            grid-template-rows: 40px 1fr;
            overflow: hidden;

			& .menu {
				flex-direction: row;
				justify-content: space-evenly;
				align-items: center;
				background-color: var(--color-borders-dark);
				border-bottom: 1px solid var(--color-borders);

				&[data-edited="true"] .save_map {
					background: var(--gradient-edited);
					background-size: 45px;
					animation: var(--animation-accept);
					border-radius: 16px;
					padding: 2px;

					& button {
						padding: 6px 14px;
					}
				}

			}
			& .forms {
				overflow: auto;
			    padding: 8px 8px 16px 8px;

				& form {
					display: none;

					&[data-lock="true"] .lock {
						& label:before {
							content: '\01F512';
							margin-bottom: -21px;
							text-shadow: none;
						}
						& label {
							& span {
								margin-left: 16px;
							}
							& input {
								pointer-events: none;
								user-select: none;
								color: var(--color-disabled);
							}
						}
					}
				}
				&[data-state="none"] form.depot,
				&[data-state="none"] form.files,
				&[data-state="root"] form.site,
				&[data-state="frame"] form.frame,
				&[data-state="page"] form.page,
				&[data-state="title"] form.title,
				&[data-state="redirect"] form.redirect,
				&[data-state="condition"] form.condition,
				&[data-state="element"] form.element {
					display: flex;
				}

				& .depot {
					& .undoable {
							display: none;
							color: var(--color-orange);
							margin-top: 8px;

							& div {
								flex: 1;
							}
							& span {
								color: var(--color-white);
								display: block;
							}
						}
					}
					&[data-undoable="true"] .undoable {
						display: flex;
					}

					& .dropzone {
						height: 128px;
						margin-bottom: 0;
						cursor: default;
					}
				}

				& .frame {
					& .csp_file {
						display: flex;
						width: 100%;

						& input {
							border-radius: 4px 0 0 4px;
						}
						& button {
							border-radius: 0 16px 16px 0;
							padding: 0 16px 0 12px;
						}
					}
				}
			}
		}
		& .right {
			border-left: 1px solid var(--color-borders);
			overflow: auto;
		    padding: 8px 16px 16px 16px;
		}
	}
}
