
@import '../common.css';
@import '../forms.css';

:host {
	display: block;
}

.container {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	height: 100%;
	padding: 8px;
	border: 1px solid var(--color-borders);
    background-color: var(--color-borders-darker);
	border-radius: 4px;

	.header {
		grid-area: 1 / 1 / 2 / 3;
		display: flex;
	    justify-content: space-between;
		font-weight: 700;
		color: var(--color-orange);
		border-bottom: 1px solid var(--color-borders);
		padding-bottom: 8px;

		& .binding {
			color: var(--color-white);
		}
	}

	& .data {
		grid-area: 2 / 1 / 3 / 2;
		margin: 0;

		& dt {
			font-weight: 700;
			color: var(--color-orange);
			margin-right: 4px;
		}

		& dd {
			margin: 0 0 8px 0;
		}
	}

	& .buttons {
		grid-area: 2 / 2 / 3 / 3;
		display: flex;
		flex-direction: column;
		justify-content: end;
		row-gap: 8px;
	}
}
