
@import '../common.css';
@import '../forms.css';

:host {
	display: block;

	& .container {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto 1fr;
		grid-column-gap: 8px;
		grid-row-gap: 8px;
		height: 100%;
		padding: 8px;
		border: 1px solid var(--color-borders);
		background-color: var(--color-borders-lighter);
		border-radius: 4px;

		.header {
			grid-area: 1 / 1 / 2 / 3;
			display: flex;
		    justify-content: space-between;
			align-items: center;
			gap: 8px;
			font-size: 18px;
			font-weight: 700;
			color: var(--color-orange);
			border-bottom: 1px solid var(--color-borders);
			padding-bottom: 8px;

			& .icon {
				width: 32px;
				height: 32px;
				padding: 4px;
	            border-radius: 16px;
	            box-shadow: 0 0 8px var(--color-orange);
	            fill: var(--color-borders-lighter);
				background-color: var(--color-orange);
			}
			& .binding {
				flex: 1;
				& span {
					color: var(--color-white);
				}
			}
		}

		& .data {
			grid-area: 2 / 1 / 3 / 2;
			margin: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 8px 16px;

			& span {
				display: flex;
				gap: 4px;

				& strong {
					font-weight: 700;
					color: var(--color-orange);
					&::after {
						content: ':';
					}
				}
			}
		}

		& .buttons {
			grid-area: 2 / 2 / 3 / 3;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 8px;
		}
	}
}
