
@import '../common.css';
@import '../forms.css';

:host {
	display: block;

	& .container {
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 8px;
		border: 1px solid var(--color-borders);
		background-color: var(--color-borders-dark);
		border-radius: 4px;

		& .header {
			display: flex;
			align-items: center;
            gap: 8px;
			border-bottom: 1px solid var(--color-borders);
            padding-bottom: 8px;

			& .icon {
				width: 32px;
				height: 32px;
				padding: 4px;
	            border-radius: 16px;
	            box-shadow: 0 0 8px var(--color-orange);
	            fill: var(--color-borders-lighter);
				background-color: var(--color-orange);
			}
			& .name {
				font-size: 18px;
				font-weight: 700;
				flex: 1;
				display: flex;
				align-items: center;
			}
			& .buttons {
				display: flex;
				align-items: center;
				gap: 8px;
			}
		}
		& .data {
			display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
		}
		& .info {
			display: none;
            flex-wrap: wrap;
            gap: 8px 16px;
			padding-top: 8px;
			border-top: 1px dashed var(--color-borders);
		}
		& .data div,
		& .info div {
			display: flex;
			gap: 4px;
			& strong {
				font-weight: 700;
				color: var(--color-orange);
			}
			& span {

			}
		}
		&[data-info="true"] .info {
			display: flex;
		}
		&[data-bound="true"] .header .name::after {
			content: 'BOUND';
            display: flex;
            align-items: center;
            height: 20px;
            border-radius: 16px;
            border: 4px solid var(--color-inform);
            color: var(--color-inform);
            font-size: 14px;
            padding: 2px 8px;
            margin-left: 8px;
		}
	}
}
