
@import '../common.css';
@import '../forms.css';

:host {
	display: block;

	& .container {
		border: 1px solid var(--color-borders);
		border-radius: 4px;
		padding: 8px;
		background-color: var(--color-borders-lighter);

		& .header {
			display: flex;
			align-items: center;
			gap: 8px;
	        padding-bottom: 8px;

			& .name {
				flex: 1;
				font-family: 'Asap';
				font-weight: 600;
				font-size: 18px;
				text-transform: capitalize;
				color: var(--color-orange);
			}
		}
		& .list {
			gap: 8px;
			padding: 8px;
			background-color: var(--color-borders-dark);
		    border: 1px solid var(--color-borders);
		    border-radius: 4px;
		}
	}
}
