@import '../common.css';
@import '../forms.css';

:host {
	display: block;
}

.container {
	border: 1px solid var(--color-borders);
    background-color: var(--color-borders-darker);
    padding: 2px 8px;
	border-radius: 4px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;

	strong {
		font-weight: 700;
		color: var(--color-orange);
		margin-right: 4px;
	}

	button {
		justify-self: end;
	}

	&[data-bound="true"] {
		padding: 10px;
	}
	&[data-bound="true"] #bind {
		display: none;
	}
}
